*.pyc
vendor
.idea
scores_start/configs/config.py
final_requirements.txt
bower_components
#migrations
scripts/db_refresh.sh
celerybeat-schedule.db
celerybeat.pid
media/*
/static
!/apps/**/static/
bin/*
logs/*
.DS_Store
requirements_local.txt
apps/*/uitests
scores_start/configs/email_config.json
scores_start/configs/email_config.json
run.sh
#apps/sms/fixtures/data.json
npm-debug.log
scores_start/configs/dns_config.json
/*.pdf
.coverage
